/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(8,34,19);
  background-color: #9bcec8;
}

h1, h2 {
  display: flex;
  align-items: center;
  justify-content: center;  
  text-decoration: underline;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

#submit {
  font-size: 0.8em;
  margin-left: 5px;
  background-color: rgb(51,110,123);
}
